{% extends "base.html"%}

{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center text-center mt-5">
            <div class="col12">
                <h2>待办事项</h2>
            </div>

        </div>
        <div class="row justify-content-center text-center mt-5">
            <div class="col12">
                <div class="card">
                    <div class="card-header">
                        待办事项名称：{{ todo.name }}
                    </div>
                    <div class="card-body">
                        <p>截止日期：{{ todo.due_date }}</p>  
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary" href="/{{todo.id}}/update/">更新</a>
                        <a class="btn btn-secondary"  href="/{{todo.id}}/delete/">删除</a>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   
    
     
    
{% endblock %}
    
