{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center text-center mt-5">
            <div class="col12">
                <h2>新建一个待办事项</h2>
            </div>

        </div>
        <div class="row justify-content-center text-center mt-5">
            <div class="col12">
                <Form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary" type="submit">创建</button>
                </Form>
            </div>
        </div>
    </div>
</section>
    
{% endblock%}
